*{
    padding: 0;
    margin: 0;
}
.container{
    min-height: 100vh;
    background-color: rgb(59, 59, 59);
    display: grid;
    place-items: center;
}
.text,
.text-error{
    padding: 2rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.text-error{
    color: red;
}